.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

@media screen and (min-width: 560px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
